<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="styles.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
	<nav class="navbar navbar-default" role="navigatior">
		<br>
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="./index.html">E-Book</a>
				<form action="" class="pull-right">
					<input type="text" class="search" placeholder="Search">
				</form>
			</div>
		</div>
		<div class="container-fluid">
			<div class="pull-right">
				<div id="login">
					<!--<button type="button" class="btn" @click="showModal">login</button>-->
					<p v-if="isLoggedIn">{{username}}</p>
					<a v-else="" class="nav_btn" href="#" @click="showModal">Sign up/Login</a>      
					<div class="login_dialog" v-show="showDialog">
						<br>
						<p>test dialog</p>
						<form>
							 User:<br>
							<input type="text" name="username" ref="username_input">
							<br>
							 Password:<br>
							<input type="text" name="password" ref="password_input">
							<br><br>
							<!--<input type="submit" class="btn" value="Submit">-->
							<button type="button" @click="closeModal">log in</button>
							<button type="button" @click="closeModal">sign up</button>
						</form> 
						<br>
					</div>
				</div>

			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-2">
				<div class="span2">
					<ul class="nav nav-pills nav-stacked">
						<li><a class="side_nav_btn" href="./index.html">Home</a></li>
						<li><a class="side_nav_btn" href="./explore.html">Explore</a></li>
						<li><a class="side_nav_btn" href="#">Cart</a></li>
						<li><a class="side_nav_btn" href="#">Wishlist</a></li>
						<li><a class="side_nav_btn" href="#">Contact</a></li>
					</ul>
				</div>
			</div>

			<div class="col-xs-8">
				<div class="mainWrp well" id="slider_app">
					<div class="carousel">
						<ul class="imgsWrp clear">
							<li v-for="item in imgsArray">
								<img :src="'images/'+item" alt="">
							</li>
						</ul>
						<p><span>1</span>/{{imgsLens}}</p>
					</div>
				</div>
			</div>

		</div>
	</div>	

	<footer class="navbar-fixed-bottom">
		<div class="container-fluid pull-right">
			E-book by dgy.
		</div>
	</footer>

	<script src="index.js"></script>

    </body>
</html>

