.search {
    width: 600px;
    height: 40px;
    border-radius: 18px;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 20px;
	margin-top: 5px;
	margin-left: 20px;
}
.img_detail{
	width:100%;
	height:auto;
}
#login{
	height:400px;
	width:300px;
	display:flex;
	background-color:#fff;
	box-shadow: 2px 2px 20px 1px;
	overflow-x:auto;
	flex-direction:column;
	align-items:center;
    left: 50%;
	margin: -200px 0 0 -150px;
    position: fixed;
    top: 50%;
    z-index: 25;
}
.login-input{
	width:200px;
	height:30px;
}
table, th, td {             
  border: 1px solid black;  
  border-collapse: collapse;
}                           
.list-img{                  
	height:120px;             
	width:80px;              
	padding:5px;              
}                           
